body {
  background-color: #f7f9fc;
}
button {
  color: white !important;
  background-color: #6fbaf8 !important;
}

.profile {
  background-color: white !important;
}
.active {
  border-bottom: 3px solid #6fbaf8;
  margin-bottom: -3px;
}
.col-sky {
  color: #6fbaf8;
}
.pro-table {
  border-left: 1px solid lightgray;
}

@media screen and (max-width: 767.98px){
  .pro-table {
    border: none;
    margin-top: 35px;
  }
}